header{
  padding: 1px;
  margin: 10px;
  background-color: crimson;
  text-align: center;
  color: white;
}

main{
  display: flex;
  flex-wrap: wrap;
}

.card{
  border: solid 1px black;
  margin: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
